/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 218;
  --first-color: hsl(var(--hue-color), 100%, 100%);
  --second-color: hsl(var(--hue-color), 100%, 100%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margins =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color:linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}


.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home__blob {
  fill: #24243e;
}

.home__blob-img {
  width: 360px;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #24243e;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 3px #AF5DB4;
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}
/* ===== Certifications =====*/
.certifications__container {
  row-gap: 2rem;
  text-align: center;
}

.certifications__subtitle {
  margin-bottom: var(--mb-2);
}

.certifications__img {
  justify-self: center;
}

.certifications__img img {
  width: 400px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__cpp {
  width: 5%;
}

.skills__python {
  width: 5%;
}

.skills__bar-chart-square {
  width: 65%;
}

.skills__android {
  width: 10%;
}

.skills__img {
  border-radius: .5rem;
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.overlay {position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #cccccc;
}

.work__img:hover .overlay {
  opacity:0.8;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
  line-height: 15pt;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .certifications__container{
    padding: 2rem;
  }
  .certificate__img img{
    width:300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #ffffff, 324px 42px #ffffff, 303px 586px #ffffff,
  1312px 276px #ffffff, 451px 625px #ffffff, 521px 1931px #ffffff, 1087px 1871px #ffffff,
  36px 1546px #ffffff, 132px 934px #ffffff, 1698px 901px #ffffff, 1418px 664px #ffffff,
  1448px 1157px #ffffff, 1084px 232px #ffffff, 347px 1776px #ffffff, 1722px 243px #ffffff,
  1629px 835px #ffffff, 479px 969px #ffffff, 1231px 960px #ffffff, 586px 384px #ffffff,
  164px 527px #ffffff, 8px 646px #ffffff, 1150px 1126px #ffffff, 665px 1357px #ffffff,
  1556px 1982px #ffffff, 1260px 1961px #ffffff, 1675px 1741px #ffffff,
  1843px 1514px #ffffff, 718px 1628px #ffffff, 242px 1343px #ffffff, 1497px 1880px #ffffff,
  1364px 230px #ffffff, 1739px 1302px #ffffff, 636px 959px #ffffff, 304px 686px #ffffff,
  614px 751px #ffffff, 1935px 816px #ffffff, 1428px 60px #ffffff, 355px 335px #ffffff,
  1594px 158px #ffffff, 90px 60px #ffffff, 1553px 162px #ffffff, 1239px 1825px #ffffff,
  1945px 587px #ffffff, 749px 1785px #ffffff, 1987px 1172px #ffffff, 1301px 1237px #ffffff,
  1039px 342px #ffffff, 1585px 1481px #ffffff, 995px 1048px #ffffff, 524px 932px #ffffff,
  214px 413px #ffffff, 1701px 1300px #ffffff, 1037px 1613px #ffffff, 1871px 996px #ffffff,
  1360px 1635px #ffffff, 1110px 1313px #ffffff, 412px 1783px #ffffff, 1949px 177px #ffffff,
  903px 1854px #ffffff, 700px 1936px #ffffff, 378px 125px #ffffff, 308px 834px #ffffff,
  1118px 962px #ffffff, 1350px 1929px #ffffff, 781px 1811px #ffffff, 561px 137px #ffffff,
  757px 1148px #ffffff, 1670px 1979px #ffffff, 343px 739px #ffffff, 945px 795px #ffffff,
  576px 1903px #ffffff, 1078px 1436px #ffffff, 1583px 450px #ffffff, 1366px 474px #ffffff,
  297px 1873px #ffffff, 192px 162px #ffffff, 1624px 1633px #ffffff, 59px 453px #ffffff,
  82px 1872px #ffffff, 1933px 498px #ffffff, 1966px 1974px #ffffff, 1975px 1688px #ffffff,
  779px 314px #ffffff, 1858px 1543px #ffffff, 73px 1507px #ffffff, 1693px 975px #ffffff,
  1683px 108px #ffffff, 1768px 1654px #ffffff, 654px 14px #ffffff, 494px 171px #ffffff,
  1689px 1895px #ffffff, 1660px 263px #ffffff, 1031px 903px #ffffff, 1203px 1393px #ffffff,
  1333px 1421px #ffffff, 1113px 41px #ffffff, 1206px 1645px #ffffff, 1325px 1635px #ffffff,
  142px 388px #ffffff, 572px 215px #ffffff, 1535px 296px #ffffff, 1419px 407px #ffffff,
  1379px 1003px #ffffff, 329px 469px #ffffff, 1791px 1652px #ffffff, 935px 1802px #ffffff,
  1330px 1820px #ffffff, 421px 1933px #ffffff, 828px 365px #ffffff, 275px 316px #ffffff,
  707px 960px #ffffff, 1605px 1554px #ffffff, 625px 58px #ffffff, 717px 1697px #ffffff,
  1669px 246px #ffffff, 1925px 322px #ffffff, 1154px 1803px #ffffff, 1929px 295px #ffffff,
  1248px 240px #ffffff, 1045px 1755px #ffffff, 166px 942px #ffffff, 1888px 1773px #ffffff,
  678px 1963px #ffffff, 1370px 569px #ffffff, 1974px 1400px #ffffff, 1786px 460px #ffffff,
  51px 307px #ffffff, 784px 1400px #ffffff, 730px 1258px #ffffff, 1712px 393px #ffffff,
  416px 170px #ffffff, 1797px 1932px #ffffff, 572px 219px #ffffff, 1557px 1856px #ffffff,
  218px 8px #ffffff, 348px 1334px #ffffff, 469px 413px #ffffff, 385px 1738px #ffffff,
  1357px 1818px #ffffff, 240px 942px #ffffff, 248px 1847px #ffffff, 1535px 806px #ffffff,
  236px 1514px #ffffff, 1429px 1556px #ffffff, 73px 1633px #ffffff, 1398px 1121px #ffffff,
  671px 1301px #ffffff, 1404px 1663px #ffffff, 740px 1018px #ffffff, 1600px 377px #ffffff,
  785px 514px #ffffff, 112px 1084px #ffffff, 1915px 1887px #ffffff, 1463px 1848px #ffffff,
  687px 1115px #ffffff, 1268px 1768px #ffffff, 1729px 1425px #ffffff,
  1284px 1022px #ffffff, 801px 974px #ffffff, 1975px 1317px #ffffff, 1354px 834px #ffffff,
  1446px 1484px #ffffff, 1283px 1786px #ffffff, 11px 523px #ffffff, 1842px 236px #ffffff,
  1355px 654px #ffffff, 429px 7px #ffffff, 1033px 1128px #ffffff, 157px 297px #ffffff,
  545px 635px #ffffff, 52px 1080px #ffffff, 827px 1520px #ffffff, 1121px 490px #ffffff,
  9px 309px #ffffff, 1744px 1586px #ffffff, 1014px 417px #ffffff, 1534px 524px #ffffff,
  958px 552px #ffffff, 1403px 1496px #ffffff, 387px 703px #ffffff, 1522px 548px #ffffff,
  1355px 282px #ffffff, 1532px 601px #ffffff, 1838px 790px #ffffff, 290px 259px #ffffff,
  295px 598px #ffffff, 1601px 539px #ffffff, 1561px 1272px #ffffff, 34px 1922px #ffffff,
  1024px 543px #ffffff, 467px 369px #ffffff, 722px 333px #ffffff, 1976px 1255px #ffffff,
  766px 983px #ffffff, 1582px 1285px #ffffff, 12px 512px #ffffff, 617px 1410px #ffffff,
  682px 577px #ffffff, 1334px 1438px #ffffff, 439px 327px #ffffff, 1617px 1661px #ffffff,
  673px 129px #ffffff, 794px 941px #ffffff, 1386px 1902px #ffffff, 37px 1353px #ffffff,
  1467px 1353px #ffffff, 416px 18px #ffffff, 187px 344px #ffffff, 200px 1898px #ffffff,
  1491px 1619px #ffffff, 811px 347px #ffffff, 924px 1827px #ffffff, 945px 217px #ffffff,
  1735px 1228px #ffffff, 379px 1890px #ffffff, 79px 761px #ffffff, 825px 1837px #ffffff,
  1980px 1558px #ffffff, 1308px 1573px #ffffff, 1488px 1726px #ffffff,
  382px 1208px #ffffff, 522px 595px #ffffff, 1277px 1898px #ffffff, 354px 552px #ffffff,
  161px 1784px #ffffff, 614px 251px #ffffff, 526px 1576px #ffffff, 17px 212px #ffffff,
  179px 996px #ffffff, 467px 1208px #ffffff, 1944px 1838px #ffffff, 1140px 1093px #ffffff,
  858px 1007px #ffffff, 200px 1064px #ffffff, 423px 1964px #ffffff, 1945px 439px #ffffff,
  1377px 689px #ffffff, 1120px 1437px #ffffff, 1876px 668px #ffffff, 907px 1324px #ffffff,
  343px 1976px #ffffff, 1816px 1501px #ffffff, 1849px 177px #ffffff, 647px 91px #ffffff,
  1984px 1012px #ffffff, 1336px 1300px #ffffff, 128px 648px #ffffff, 305px 1060px #ffffff,
  1324px 826px #ffffff, 1263px 1314px #ffffff, 1801px 629px #ffffff, 1614px 1555px #ffffff,
  1634px 90px #ffffff, 1603px 452px #ffffff, 891px 1984px #ffffff, 1556px 1906px #ffffff,
  121px 68px #ffffff, 1676px 1714px #ffffff, 516px 936px #ffffff, 1947px 1492px #ffffff,
  1455px 1519px #ffffff, 45px 602px #ffffff, 205px 1039px #ffffff, 793px 172px #ffffff,
  1562px 1739px #ffffff, 1056px 110px #ffffff, 1512px 379px #ffffff, 1795px 1621px #ffffff,
  1848px 607px #ffffff, 262px 1719px #ffffff, 477px 991px #ffffff, 483px 883px #ffffff,
  1239px 1197px #ffffff, 1496px 647px #ffffff, 1649px 25px #ffffff, 1491px 1946px #ffffff,
  119px 996px #ffffff, 179px 1472px #ffffff, 1341px 808px #ffffff, 1565px 1700px #ffffff,
  407px 1544px #ffffff, 1754px 357px #ffffff, 1288px 981px #ffffff, 902px 1997px #ffffff,
  1755px 1668px #ffffff, 186px 877px #ffffff, 1202px 1882px #ffffff, 461px 1213px #ffffff,
  1400px 748px #ffffff, 1969px 1899px #ffffff, 809px 522px #ffffff, 514px 1219px #ffffff,
  374px 275px #ffffff, 938px 1973px #ffffff, 357px 552px #ffffff, 144px 1722px #ffffff,
  1572px 912px #ffffff, 402px 1858px #ffffff, 1544px 1195px #ffffff, 667px 1257px #ffffff,
  727px 1496px #ffffff, 993px 232px #ffffff, 1772px 313px #ffffff, 1040px 1590px #ffffff,
  1204px 1973px #ffffff, 1268px 79px #ffffff, 1555px 1048px #ffffff, 986px 1707px #ffffff,
  978px 1710px #ffffff, 713px 360px #ffffff, 407px 863px #ffffff, 461px 736px #ffffff,
  284px 1608px #ffffff, 103px 430px #ffffff, 1283px 1319px #ffffff, 977px 1186px #ffffff,
  1966px 1516px #ffffff, 1287px 1129px #ffffff, 70px 1098px #ffffff, 1189px 889px #ffffff,
  1126px 1734px #ffffff, 309px 1292px #ffffff, 879px 764px #ffffff, 65px 473px #ffffff,
  1003px 1959px #ffffff, 658px 791px #ffffff, 402px 1576px #ffffff, 35px 622px #ffffff,
  529px 1589px #ffffff, 164px 666px #ffffff, 1876px 1290px #ffffff, 1541px 526px #ffffff,
  270px 1297px #ffffff, 440px 865px #ffffff, 1500px 802px #ffffff, 182px 1754px #ffffff,
  1264px 892px #ffffff, 272px 1249px #ffffff, 1289px 1535px #ffffff, 190px 1646px #ffffff,
  955px 242px #ffffff, 1456px 1597px #ffffff, 1727px 1983px #ffffff, 635px 801px #ffffff,
  226px 455px #ffffff, 1396px 1710px #ffffff, 849px 1863px #ffffff, 237px 1264px #ffffff,
  839px 140px #ffffff, 1122px 735px #ffffff, 1280px 15px #ffffff, 1318px 242px #ffffff,
  1819px 1148px #ffffff, 333px 1392px #ffffff, 1949px 553px #ffffff, 1878px 1332px #ffffff,
  467px 548px #ffffff, 1812px 1082px #ffffff, 1067px 193px #ffffff, 243px 156px #ffffff,
  483px 1616px #ffffff, 1714px 933px #ffffff, 759px 1800px #ffffff, 1822px 995px #ffffff,
  1877px 572px #ffffff, 581px 1084px #ffffff, 107px 732px #ffffff, 642px 1837px #ffffff,
  166px 1493px #ffffff, 1555px 198px #ffffff, 819px 307px #ffffff, 947px 345px #ffffff,
  827px 224px #ffffff, 927px 1394px #ffffff, 540px 467px #ffffff, 1093px 405px #ffffff,
  1140px 927px #ffffff, 130px 529px #ffffff, 33px 1980px #ffffff, 1147px 1663px #ffffff,
  1616px 1436px #ffffff, 528px 710px #ffffff, 798px 1100px #ffffff, 505px 1480px #ffffff,
  899px 641px #ffffff, 1909px 1949px #ffffff, 1311px 964px #ffffff, 979px 1301px #ffffff,
  1393px 969px #ffffff, 1793px 1886px #ffffff, 292px 357px #ffffff, 1196px 1718px #ffffff,
  1290px 1994px #ffffff, 537px 1973px #ffffff, 1181px 1674px #ffffff,
  1740px 1566px #ffffff, 1307px 265px #ffffff, 922px 522px #ffffff, 1892px 472px #ffffff,
  384px 1746px #ffffff, 392px 1098px #ffffff, 647px 548px #ffffff, 390px 1498px #ffffff,
  1246px 138px #ffffff, 730px 876px #ffffff, 192px 1472px #ffffff, 1790px 1789px #ffffff,
  928px 311px #ffffff, 1253px 1647px #ffffff, 747px 1921px #ffffff, 1561px 1025px #ffffff,
  1533px 1292px #ffffff, 1985px 195px #ffffff, 728px 729px #ffffff, 1712px 1936px #ffffff,
  512px 1717px #ffffff, 1528px 483px #ffffff, 313px 1642px #ffffff, 281px 1849px #ffffff,
  1212px 799px #ffffff, 435px 1191px #ffffff, 1422px 611px #ffffff, 1718px 1964px #ffffff,
  411px 944px #ffffff, 210px 636px #ffffff, 1502px 1295px #ffffff, 1434px 349px #ffffff,
  769px 60px #ffffff, 747px 1053px #ffffff, 789px 504px #ffffff, 1436px 1264px #ffffff,
  1893px 1225px #ffffff, 1394px 1788px #ffffff, 1108px 1317px #ffffff,
  1673px 1395px #ffffff, 854px 1010px #ffffff, 1705px 80px #ffffff, 1858px 148px #ffffff,
  1729px 344px #ffffff, 1388px 664px #ffffff, 895px 406px #ffffff, 1479px 157px #ffffff,
  1441px 1157px #ffffff, 552px 1900px #ffffff, 516px 364px #ffffff, 1647px 189px #ffffff,
  1427px 1071px #ffffff, 785px 729px #ffffff, 1080px 1710px #ffffff, 504px 204px #ffffff,
  1177px 1622px #ffffff, 657px 34px #ffffff, 1296px 1099px #ffffff, 248px 180px #ffffff,
  1212px 1568px #ffffff, 667px 1562px #ffffff, 695px 841px #ffffff, 1608px 1247px #ffffff,
  751px 882px #ffffff, 87px 167px #ffffff, 607px 1368px #ffffff, 1363px 1203px #ffffff,
  1836px 317px #ffffff, 1668px 1703px #ffffff, 830px 1154px #ffffff, 1721px 1398px #ffffff,
  1601px 1280px #ffffff, 976px 874px #ffffff, 1743px 254px #ffffff, 1020px 1815px #ffffff,
  1670px 1766px #ffffff, 1890px 735px #ffffff, 1379px 136px #ffffff, 1864px 695px #ffffff,
  206px 965px #ffffff, 1404px 1932px #ffffff, 1923px 1360px #ffffff, 247px 682px #ffffff,
  519px 1708px #ffffff, 645px 750px #ffffff, 1164px 1204px #ffffff, 834px 323px #ffffff,
  172px 1350px #ffffff, 213px 972px #ffffff, 1837px 190px #ffffff, 285px 1806px #ffffff,
  1047px 1299px #ffffff, 1548px 825px #ffffff, 1730px 324px #ffffff, 1346px 1909px #ffffff,
  772px 270px #ffffff, 345px 1190px #ffffff, 478px 1433px #ffffff, 1479px 25px #ffffff,
  1994px 1830px #ffffff, 1744px 732px #ffffff, 20px 1635px #ffffff, 690px 1795px #ffffff,
  1594px 569px #ffffff, 579px 245px #ffffff, 1398px 733px #ffffff, 408px 1352px #ffffff,
  1774px 120px #ffffff, 1152px 1370px #ffffff, 1698px 1810px #ffffff, 710px 1450px #ffffff,
  665px 286px #ffffff, 493px 1720px #ffffff, 786px 5px #ffffff, 637px 1140px #ffffff,
  764px 324px #ffffff, 927px 310px #ffffff, 938px 1424px #ffffff, 1884px 744px #ffffff,
  913px 462px #ffffff, 1831px 1936px #ffffff, 1527px 249px #ffffff, 36px 1381px #ffffff,
  1597px 581px #ffffff, 1530px 355px #ffffff, 949px 459px #ffffff, 799px 828px #ffffff,
  242px 1471px #ffffff, 654px 797px #ffffff, 796px 594px #ffffff, 1365px 678px #ffffff,
  752px 23px #ffffff, 1630px 541px #ffffff, 982px 72px #ffffff, 1733px 1831px #ffffff,
  21px 412px #ffffff, 775px 998px #ffffff, 335px 1945px #ffffff, 264px 583px #ffffff,
  158px 1311px #ffffff, 528px 164px #ffffff, 1978px 574px #ffffff, 717px 1203px #ffffff,
  734px 1591px #ffffff, 1555px 820px #ffffff, 16px 1943px #ffffff, 1625px 1177px #ffffff,
  1236px 690px #ffffff, 1585px 1590px #ffffff, 1737px 1728px #ffffff, 721px 698px #ffffff,
  1804px 1186px #ffffff, 166px 980px #ffffff, 1850px 230px #ffffff, 330px 1712px #ffffff,
  95px 797px #ffffff, 1948px 1078px #ffffff, 469px 939px #ffffff, 1269px 1899px #ffffff,
  955px 1220px #ffffff, 1137px 1075px #ffffff, 312px 1293px #ffffff, 986px 1762px #ffffff,
  1103px 1238px #ffffff, 428px 1993px #ffffff, 355px 570px #ffffff, 977px 1836px #ffffff,
  1395px 1092px #ffffff, 276px 913px #ffffff, 1743px 656px #ffffff, 773px 502px #ffffff,
  1686px 1322px #ffffff, 1516px 1945px #ffffff, 1334px 501px #ffffff, 266px 156px #ffffff,
  455px 655px #ffffff, 798px 72px #ffffff, 1059px 1259px #ffffff, 1402px 1687px #ffffff,
  236px 1329px #ffffff, 1455px 786px #ffffff, 146px 1228px #ffffff, 1851px 823px #ffffff,
  1062px 100px #ffffff, 1220px 953px #ffffff, 20px 1826px #ffffff, 36px 1063px #ffffff,
  1525px 338px #ffffff, 790px 1521px #ffffff, 741px 1099px #ffffff, 288px 1489px #ffffff,
  700px 1060px #ffffff, 390px 1071px #ffffff, 411px 1036px #ffffff, 1853px 1072px #ffffff,
  1446px 1085px #ffffff, 1164px 874px #ffffff, 924px 925px #ffffff, 291px 271px #ffffff,
  1257px 1964px #ffffff, 1580px 1352px #ffffff, 1507px 1216px #ffffff, 211px 956px #ffffff,
  985px 1195px #ffffff, 975px 1640px #ffffff, 518px 101px #ffffff, 663px 1395px #ffffff,
  914px 532px #ffffff, 145px 1320px #ffffff, 69px 1397px #ffffff, 982px 523px #ffffff,
  257px 725px #ffffff, 1599px 831px #ffffff, 1636px 1513px #ffffff, 1250px 1158px #ffffff,
  1132px 604px #ffffff, 183px 102px #ffffff, 1057px 318px #ffffff, 1247px 1835px #ffffff,
  1983px 1110px #ffffff, 1077px 1455px #ffffff, 921px 1770px #ffffff, 806px 1350px #ffffff,
  1938px 1992px #ffffff, 855px 1260px #ffffff, 902px 1345px #ffffff, 658px 1908px #ffffff,
  1845px 679px #ffffff, 712px 1482px #ffffff, 595px 950px #ffffff, 1784px 1992px #ffffff,
  1847px 1785px #ffffff, 691px 1004px #ffffff, 175px 1179px #ffffff, 1666px 1911px #ffffff,
  41px 61px #ffffff, 971px 1080px #ffffff, 1830px 1450px #ffffff, 1351px 1518px #ffffff,
  1257px 99px #ffffff, 1395px 1498px #ffffff, 1117px 252px #ffffff, 1779px 597px #ffffff,
  1346px 729px #ffffff, 1108px 1144px #ffffff, 402px 691px #ffffff, 72px 496px #ffffff,
  1673px 1604px #ffffff, 1497px 974px #ffffff, 1865px 1664px #ffffff, 88px 806px #ffffff,
  918px 77px #ffffff, 244px 1118px #ffffff, 256px 1820px #ffffff, 1851px 1840px #ffffff,
  605px 1851px #ffffff, 634px 383px #ffffff, 865px 37px #ffffff, 943px 1024px #ffffff,
  1951px 177px #ffffff, 1097px 523px #ffffff, 985px 1700px #ffffff, 1243px 122px #ffffff,
  768px 1070px #ffffff, 468px 194px #ffffff, 320px 1867px #ffffff, 1850px 185px #ffffff,
  380px 1616px #ffffff, 468px 1294px #ffffff, 1122px 1743px #ffffff, 884px 299px #ffffff,
  1300px 1917px #ffffff, 1860px 396px #ffffff, 1270px 990px #ffffff, 529px 733px #ffffff,
  1975px 1347px #ffffff, 1885px 685px #ffffff, 226px 506px #ffffff, 651px 878px #ffffff,
  1323px 680px #ffffff, 1284px 680px #ffffff, 238px 1967px #ffffff, 911px 174px #ffffff,
  1111px 521px #ffffff, 1150px 85px #ffffff, 794px 502px #ffffff, 484px 1856px #ffffff,
  1809px 368px #ffffff, 112px 953px #ffffff, 590px 1009px #ffffff, 1655px 311px #ffffff,
  100px 1026px #ffffff, 1803px 352px #ffffff, 865px 306px #ffffff, 1077px 1019px #ffffff,
  1335px 872px #ffffff, 1647px 1298px #ffffff, 1233px 1387px #ffffff, 698px 1036px #ffffff,
  659px 1860px #ffffff, 388px 1412px #ffffff, 1212px 458px #ffffff, 755px 1468px #ffffff,
  696px 1654px #ffffff, 1144px 60px #ffffff;
}

#stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ffffff, 324px 42px #ffffff, 303px 586px #ffffff,
  1312px 276px #ffffff, 451px 625px #ffffff, 521px 1931px #ffffff, 1087px 1871px #ffffff,
  36px 1546px #ffffff, 132px 934px #ffffff, 1698px 901px #ffffff, 1418px 664px #ffffff,
  1448px 1157px #ffffff, 1084px 232px #ffffff, 347px 1776px #ffffff, 1722px 243px #ffffff,
  1629px 835px #ffffff, 479px 969px #ffffff, 1231px 960px #ffffff, 586px 384px #ffffff,
  164px 527px #ffffff, 8px 646px #ffffff, 1150px 1126px #ffffff, 665px 1357px #ffffff,
  1556px 1982px #ffffff, 1260px 1961px #ffffff, 1675px 1741px #ffffff,
  1843px 1514px #ffffff, 718px 1628px #ffffff, 242px 1343px #ffffff, 1497px 1880px #ffffff,
  1364px 230px #ffffff, 1739px 1302px #ffffff, 636px 959px #ffffff, 304px 686px #ffffff,
  614px 751px #ffffff, 1935px 816px #ffffff, 1428px 60px #ffffff, 355px 335px #ffffff,
  1594px 158px #ffffff, 90px 60px #ffffff, 1553px 162px #ffffff, 1239px 1825px #ffffff,
  1945px 587px #ffffff, 749px 1785px #ffffff, 1987px 1172px #ffffff, 1301px 1237px #ffffff,
  1039px 342px #ffffff, 1585px 1481px #ffffff, 995px 1048px #ffffff, 524px 932px #ffffff,
  214px 413px #ffffff, 1701px 1300px #ffffff, 1037px 1613px #ffffff, 1871px 996px #ffffff,
  1360px 1635px #ffffff, 1110px 1313px #ffffff, 412px 1783px #ffffff, 1949px 177px #ffffff,
  903px 1854px #ffffff, 700px 1936px #ffffff, 378px 125px #ffffff, 308px 834px #ffffff,
  1118px 962px #ffffff, 1350px 1929px #ffffff, 781px 1811px #ffffff, 561px 137px #ffffff,
  757px 1148px #ffffff, 1670px 1979px #ffffff, 343px 739px #ffffff, 945px 795px #ffffff,
  576px 1903px #ffffff, 1078px 1436px #ffffff, 1583px 450px #ffffff, 1366px 474px #ffffff,
  297px 1873px #ffffff, 192px 162px #ffffff, 1624px 1633px #ffffff, 59px 453px #ffffff,
  82px 1872px #ffffff, 1933px 498px #ffffff, 1966px 1974px #ffffff, 1975px 1688px #ffffff,
  779px 314px #ffffff, 1858px 1543px #ffffff, 73px 1507px #ffffff, 1693px 975px #ffffff,
  1683px 108px #ffffff, 1768px 1654px #ffffff, 654px 14px #ffffff, 494px 171px #ffffff,
  1689px 1895px #ffffff, 1660px 263px #ffffff, 1031px 903px #ffffff, 1203px 1393px #ffffff,
  1333px 1421px #ffffff, 1113px 41px #ffffff, 1206px 1645px #ffffff, 1325px 1635px #ffffff,
  142px 388px #ffffff, 572px 215px #ffffff, 1535px 296px #ffffff, 1419px 407px #ffffff,
  1379px 1003px #ffffff, 329px 469px #ffffff, 1791px 1652px #ffffff, 935px 1802px #ffffff,
  1330px 1820px #ffffff, 421px 1933px #ffffff, 828px 365px #ffffff, 275px 316px #ffffff,
  707px 960px #ffffff, 1605px 1554px #ffffff, 625px 58px #ffffff, 717px 1697px #ffffff,
  1669px 246px #ffffff, 1925px 322px #ffffff, 1154px 1803px #ffffff, 1929px 295px #ffffff,
  1248px 240px #ffffff, 1045px 1755px #ffffff, 166px 942px #ffffff, 1888px 1773px #ffffff,
  678px 1963px #ffffff, 1370px 569px #ffffff, 1974px 1400px #ffffff, 1786px 460px #ffffff,
  51px 307px #ffffff, 784px 1400px #ffffff, 730px 1258px #ffffff, 1712px 393px #ffffff,
  416px 170px #ffffff, 1797px 1932px #ffffff, 572px 219px #ffffff, 1557px 1856px #ffffff,
  218px 8px #ffffff, 348px 1334px #ffffff, 469px 413px #ffffff, 385px 1738px #ffffff,
  1357px 1818px #ffffff, 240px 942px #ffffff, 248px 1847px #ffffff, 1535px 806px #ffffff,
  236px 1514px #ffffff, 1429px 1556px #ffffff, 73px 1633px #ffffff, 1398px 1121px #ffffff,
  671px 1301px #ffffff, 1404px 1663px #ffffff, 740px 1018px #ffffff, 1600px 377px #ffffff,
  785px 514px #ffffff, 112px 1084px #ffffff, 1915px 1887px #ffffff, 1463px 1848px #ffffff,
  687px 1115px #ffffff, 1268px 1768px #ffffff, 1729px 1425px #ffffff,
  1284px 1022px #ffffff, 801px 974px #ffffff, 1975px 1317px #ffffff, 1354px 834px #ffffff,
  1446px 1484px #ffffff, 1283px 1786px #ffffff, 11px 523px #ffffff, 1842px 236px #ffffff,
  1355px 654px #ffffff, 429px 7px #ffffff, 1033px 1128px #ffffff, 157px 297px #ffffff,
  545px 635px #ffffff, 52px 1080px #ffffff, 827px 1520px #ffffff, 1121px 490px #ffffff,
  9px 309px #ffffff, 1744px 1586px #ffffff, 1014px 417px #ffffff, 1534px 524px #ffffff,
  958px 552px #ffffff, 1403px 1496px #ffffff, 387px 703px #ffffff, 1522px 548px #ffffff,
  1355px 282px #ffffff, 1532px 601px #ffffff, 1838px 790px #ffffff, 290px 259px #ffffff,
  295px 598px #ffffff, 1601px 539px #ffffff, 1561px 1272px #ffffff, 34px 1922px #ffffff,
  1024px 543px #ffffff, 467px 369px #ffffff, 722px 333px #ffffff, 1976px 1255px #ffffff,
  766px 983px #ffffff, 1582px 1285px #ffffff, 12px 512px #ffffff, 617px 1410px #ffffff,
  682px 577px #ffffff, 1334px 1438px #ffffff, 439px 327px #ffffff, 1617px 1661px #ffffff,
  673px 129px #ffffff, 794px 941px #ffffff, 1386px 1902px #ffffff, 37px 1353px #ffffff,
  1467px 1353px #ffffff, 416px 18px #ffffff, 187px 344px #ffffff, 200px 1898px #ffffff,
  1491px 1619px #ffffff, 811px 347px #ffffff, 924px 1827px #ffffff, 945px 217px #ffffff,
  1735px 1228px #ffffff, 379px 1890px #ffffff, 79px 761px #ffffff, 825px 1837px #ffffff,
  1980px 1558px #ffffff, 1308px 1573px #ffffff, 1488px 1726px #ffffff,
  382px 1208px #ffffff, 522px 595px #ffffff, 1277px 1898px #ffffff, 354px 552px #ffffff,
  161px 1784px #ffffff, 614px 251px #ffffff, 526px 1576px #ffffff, 17px 212px #ffffff,
  179px 996px #ffffff, 467px 1208px #ffffff, 1944px 1838px #ffffff, 1140px 1093px #ffffff,
  858px 1007px #ffffff, 200px 1064px #ffffff, 423px 1964px #ffffff, 1945px 439px #ffffff,
  1377px 689px #ffffff, 1120px 1437px #ffffff, 1876px 668px #ffffff, 907px 1324px #ffffff,
  343px 1976px #ffffff, 1816px 1501px #ffffff, 1849px 177px #ffffff, 647px 91px #ffffff,
  1984px 1012px #ffffff, 1336px 1300px #ffffff, 128px 648px #ffffff, 305px 1060px #ffffff,
  1324px 826px #ffffff, 1263px 1314px #ffffff, 1801px 629px #ffffff, 1614px 1555px #ffffff,
  1634px 90px #ffffff, 1603px 452px #ffffff, 891px 1984px #ffffff, 1556px 1906px #ffffff,
  121px 68px #ffffff, 1676px 1714px #ffffff, 516px 936px #ffffff, 1947px 1492px #ffffff,
  1455px 1519px #ffffff, 45px 602px #ffffff, 205px 1039px #ffffff, 793px 172px #ffffff,
  1562px 1739px #ffffff, 1056px 110px #ffffff, 1512px 379px #ffffff, 1795px 1621px #ffffff,
  1848px 607px #ffffff, 262px 1719px #ffffff, 477px 991px #ffffff, 483px 883px #ffffff,
  1239px 1197px #ffffff, 1496px 647px #ffffff, 1649px 25px #ffffff, 1491px 1946px #ffffff,
  119px 996px #ffffff, 179px 1472px #ffffff, 1341px 808px #ffffff, 1565px 1700px #ffffff,
  407px 1544px #ffffff, 1754px 357px #ffffff, 1288px 981px #ffffff, 902px 1997px #ffffff,
  1755px 1668px #ffffff, 186px 877px #ffffff, 1202px 1882px #ffffff, 461px 1213px #ffffff,
  1400px 748px #ffffff, 1969px 1899px #ffffff, 809px 522px #ffffff, 514px 1219px #ffffff,
  374px 275px #ffffff, 938px 1973px #ffffff, 357px 552px #ffffff, 144px 1722px #ffffff,
  1572px 912px #ffffff, 402px 1858px #ffffff, 1544px 1195px #ffffff, 667px 1257px #ffffff,
  727px 1496px #ffffff, 993px 232px #ffffff, 1772px 313px #ffffff, 1040px 1590px #ffffff,
  1204px 1973px #ffffff, 1268px 79px #ffffff, 1555px 1048px #ffffff, 986px 1707px #ffffff,
  978px 1710px #ffffff, 713px 360px #ffffff, 407px 863px #ffffff, 461px 736px #ffffff,
  284px 1608px #ffffff, 103px 430px #ffffff, 1283px 1319px #ffffff, 977px 1186px #ffffff,
  1966px 1516px #ffffff, 1287px 1129px #ffffff, 70px 1098px #ffffff, 1189px 889px #ffffff,
  1126px 1734px #ffffff, 309px 1292px #ffffff, 879px 764px #ffffff, 65px 473px #ffffff,
  1003px 1959px #ffffff, 658px 791px #ffffff, 402px 1576px #ffffff, 35px 622px #ffffff,
  529px 1589px #ffffff, 164px 666px #ffffff, 1876px 1290px #ffffff, 1541px 526px #ffffff,
  270px 1297px #ffffff, 440px 865px #ffffff, 1500px 802px #ffffff, 182px 1754px #ffffff,
  1264px 892px #ffffff, 272px 1249px #ffffff, 1289px 1535px #ffffff, 190px 1646px #ffffff,
  955px 242px #ffffff, 1456px 1597px #ffffff, 1727px 1983px #ffffff, 635px 801px #ffffff,
  226px 455px #ffffff, 1396px 1710px #ffffff, 849px 1863px #ffffff, 237px 1264px #ffffff,
  839px 140px #ffffff, 1122px 735px #ffffff, 1280px 15px #ffffff, 1318px 242px #ffffff,
  1819px 1148px #ffffff, 333px 1392px #ffffff, 1949px 553px #ffffff, 1878px 1332px #ffffff,
  467px 548px #ffffff, 1812px 1082px #ffffff, 1067px 193px #ffffff, 243px 156px #ffffff,
  483px 1616px #ffffff, 1714px 933px #ffffff, 759px 1800px #ffffff, 1822px 995px #ffffff,
  1877px 572px #ffffff, 581px 1084px #ffffff, 107px 732px #ffffff, 642px 1837px #ffffff,
  166px 1493px #ffffff, 1555px 198px #ffffff, 819px 307px #ffffff, 947px 345px #ffffff,
  827px 224px #ffffff, 927px 1394px #ffffff, 540px 467px #ffffff, 1093px 405px #ffffff,
  1140px 927px #ffffff, 130px 529px #ffffff, 33px 1980px #ffffff, 1147px 1663px #ffffff,
  1616px 1436px #ffffff, 528px 710px #ffffff, 798px 1100px #ffffff, 505px 1480px #ffffff,
  899px 641px #ffffff, 1909px 1949px #ffffff, 1311px 964px #ffffff, 979px 1301px #ffffff,
  1393px 969px #ffffff, 1793px 1886px #ffffff, 292px 357px #ffffff, 1196px 1718px #ffffff,
  1290px 1994px #ffffff, 537px 1973px #ffffff, 1181px 1674px #ffffff,
  1740px 1566px #ffffff, 1307px 265px #ffffff, 922px 522px #ffffff, 1892px 472px #ffffff,
  384px 1746px #ffffff, 392px 1098px #ffffff, 647px 548px #ffffff, 390px 1498px #ffffff,
  1246px 138px #ffffff, 730px 876px #ffffff, 192px 1472px #ffffff, 1790px 1789px #ffffff,
  928px 311px #ffffff, 1253px 1647px #ffffff, 747px 1921px #ffffff, 1561px 1025px #ffffff,
  1533px 1292px #ffffff, 1985px 195px #ffffff, 728px 729px #ffffff, 1712px 1936px #ffffff,
  512px 1717px #ffffff, 1528px 483px #ffffff, 313px 1642px #ffffff, 281px 1849px #ffffff,
  1212px 799px #ffffff, 435px 1191px #ffffff, 1422px 611px #ffffff, 1718px 1964px #ffffff,
  411px 944px #ffffff, 210px 636px #ffffff, 1502px 1295px #ffffff, 1434px 349px #ffffff,
  769px 60px #ffffff, 747px 1053px #ffffff, 789px 504px #ffffff, 1436px 1264px #ffffff,
  1893px 1225px #ffffff, 1394px 1788px #ffffff, 1108px 1317px #ffffff,
  1673px 1395px #ffffff, 854px 1010px #ffffff, 1705px 80px #ffffff, 1858px 148px #ffffff,
  1729px 344px #ffffff, 1388px 664px #ffffff, 895px 406px #ffffff, 1479px 157px #ffffff,
  1441px 1157px #ffffff, 552px 1900px #ffffff, 516px 364px #ffffff, 1647px 189px #ffffff,
  1427px 1071px #ffffff, 785px 729px #ffffff, 1080px 1710px #ffffff, 504px 204px #ffffff,
  1177px 1622px #ffffff, 657px 34px #ffffff, 1296px 1099px #ffffff, 248px 180px #ffffff,
  1212px 1568px #ffffff, 667px 1562px #ffffff, 695px 841px #ffffff, 1608px 1247px #ffffff,
  751px 882px #ffffff, 87px 167px #ffffff, 607px 1368px #ffffff, 1363px 1203px #ffffff,
  1836px 317px #ffffff, 1668px 1703px #ffffff, 830px 1154px #ffffff, 1721px 1398px #ffffff,
  1601px 1280px #ffffff, 976px 874px #ffffff, 1743px 254px #ffffff, 1020px 1815px #ffffff,
  1670px 1766px #ffffff, 1890px 735px #ffffff, 1379px 136px #ffffff, 1864px 695px #ffffff,
  206px 965px #ffffff, 1404px 1932px #ffffff, 1923px 1360px #ffffff, 247px 682px #ffffff,
  519px 1708px #ffffff, 645px 750px #ffffff, 1164px 1204px #ffffff, 834px 323px #ffffff,
  172px 1350px #ffffff, 213px 972px #ffffff, 1837px 190px #ffffff, 285px 1806px #ffffff,
  1047px 1299px #ffffff, 1548px 825px #ffffff, 1730px 324px #ffffff, 1346px 1909px #ffffff,
  772px 270px #ffffff, 345px 1190px #ffffff, 478px 1433px #ffffff, 1479px 25px #ffffff,
  1994px 1830px #ffffff, 1744px 732px #ffffff, 20px 1635px #ffffff, 690px 1795px #ffffff,
  1594px 569px #ffffff, 579px 245px #ffffff, 1398px 733px #ffffff, 408px 1352px #ffffff,
  1774px 120px #ffffff, 1152px 1370px #ffffff, 1698px 1810px #ffffff, 710px 1450px #ffffff,
  665px 286px #ffffff, 493px 1720px #ffffff, 786px 5px #ffffff, 637px 1140px #ffffff,
  764px 324px #ffffff, 927px 310px #ffffff, 938px 1424px #ffffff, 1884px 744px #ffffff,
  913px 462px #ffffff, 1831px 1936px #ffffff, 1527px 249px #ffffff, 36px 1381px #ffffff,
  1597px 581px #ffffff, 1530px 355px #ffffff, 949px 459px #ffffff, 799px 828px #ffffff,
  242px 1471px #ffffff, 654px 797px #ffffff, 796px 594px #ffffff, 1365px 678px #ffffff,
  752px 23px #ffffff, 1630px 541px #ffffff, 982px 72px #ffffff, 1733px 1831px #ffffff,
  21px 412px #ffffff, 775px 998px #ffffff, 335px 1945px #ffffff, 264px 583px #ffffff,
  158px 1311px #ffffff, 528px 164px #ffffff, 1978px 574px #ffffff, 717px 1203px #ffffff,
  734px 1591px #ffffff, 1555px 820px #ffffff, 16px 1943px #ffffff, 1625px 1177px #ffffff,
  1236px 690px #ffffff, 1585px 1590px #ffffff, 1737px 1728px #ffffff, 721px 698px #ffffff,
  1804px 1186px #ffffff, 166px 980px #ffffff, 1850px 230px #ffffff, 330px 1712px #ffffff,
  95px 797px #ffffff, 1948px 1078px #ffffff, 469px 939px #ffffff, 1269px 1899px #ffffff,
  955px 1220px #ffffff, 1137px 1075px #ffffff, 312px 1293px #ffffff, 986px 1762px #ffffff,
  1103px 1238px #ffffff, 428px 1993px #ffffff, 355px 570px #ffffff, 977px 1836px #ffffff,
  1395px 1092px #ffffff, 276px 913px #ffffff, 1743px 656px #ffffff, 773px 502px #ffffff,
  1686px 1322px #ffffff, 1516px 1945px #ffffff, 1334px 501px #ffffff, 266px 156px #ffffff,
  455px 655px #ffffff, 798px 72px #ffffff, 1059px 1259px #ffffff, 1402px 1687px #ffffff,
  236px 1329px #ffffff, 1455px 786px #ffffff, 146px 1228px #ffffff, 1851px 823px #ffffff,
  1062px 100px #ffffff, 1220px 953px #ffffff, 20px 1826px #ffffff, 36px 1063px #ffffff,
  1525px 338px #ffffff, 790px 1521px #ffffff, 741px 1099px #ffffff, 288px 1489px #ffffff,
  700px 1060px #ffffff, 390px 1071px #ffffff, 411px 1036px #ffffff, 1853px 1072px #ffffff,
  1446px 1085px #ffffff, 1164px 874px #ffffff, 924px 925px #ffffff, 291px 271px #ffffff,
  1257px 1964px #ffffff, 1580px 1352px #ffffff, 1507px 1216px #ffffff, 211px 956px #ffffff,
  985px 1195px #ffffff, 975px 1640px #ffffff, 518px 101px #ffffff, 663px 1395px #ffffff,
  914px 532px #ffffff, 145px 1320px #ffffff, 69px 1397px #ffffff, 982px 523px #ffffff,
  257px 725px #ffffff, 1599px 831px #ffffff, 1636px 1513px #ffffff, 1250px 1158px #ffffff,
  1132px 604px #ffffff, 183px 102px #ffffff, 1057px 318px #ffffff, 1247px 1835px #ffffff,
  1983px 1110px #ffffff, 1077px 1455px #ffffff, 921px 1770px #ffffff, 806px 1350px #ffffff,
  1938px 1992px #ffffff, 855px 1260px #ffffff, 902px 1345px #ffffff, 658px 1908px #ffffff,
  1845px 679px #ffffff, 712px 1482px #ffffff, 595px 950px #ffffff, 1784px 1992px #ffffff,
  1847px 1785px #ffffff, 691px 1004px #ffffff, 175px 1179px #ffffff, 1666px 1911px #ffffff,
  41px 61px #ffffff, 971px 1080px #ffffff, 1830px 1450px #ffffff, 1351px 1518px #ffffff,
  1257px 99px #ffffff, 1395px 1498px #ffffff, 1117px 252px #ffffff, 1779px 597px #ffffff,
  1346px 729px #ffffff, 1108px 1144px #ffffff, 402px 691px #ffffff, 72px 496px #ffffff,
  1673px 1604px #ffffff, 1497px 974px #ffffff, 1865px 1664px #ffffff, 88px 806px #ffffff,
  918px 77px #ffffff, 244px 1118px #ffffff, 256px 1820px #ffffff, 1851px 1840px #ffffff,
  605px 1851px #ffffff, 634px 383px #ffffff, 865px 37px #ffffff, 943px 1024px #ffffff,
  1951px 177px #ffffff, 1097px 523px #ffffff, 985px 1700px #ffffff, 1243px 122px #ffffff,
  768px 1070px #ffffff, 468px 194px #ffffff, 320px 1867px #ffffff, 1850px 185px #ffffff,
  380px 1616px #ffffff, 468px 1294px #ffffff, 1122px 1743px #ffffff, 884px 299px #ffffff,
  1300px 1917px #ffffff, 1860px 396px #ffffff, 1270px 990px #ffffff, 529px 733px #ffffff,
  1975px 1347px #ffffff, 1885px 685px #ffffff, 226px 506px #ffffff, 651px 878px #ffffff,
  1323px 680px #ffffff, 1284px 680px #ffffff, 238px 1967px #ffffff, 911px 174px #ffffff,
  1111px 521px #ffffff, 1150px 85px #ffffff, 794px 502px #ffffff, 484px 1856px #ffffff,
  1809px 368px #ffffff, 112px 953px #ffffff, 590px 1009px #ffffff, 1655px 311px #ffffff,
  100px 1026px #ffffff, 1803px 352px #ffffff, 865px 306px #ffffff, 1077px 1019px #ffffff,
  1335px 872px #ffffff, 1647px 1298px #ffffff, 1233px 1387px #ffffff, 698px 1036px #ffffff,
  659px 1860px #ffffff, 388px 1412px #ffffff, 1212px 458px #ffffff, 755px 1468px #ffffff,
  696px 1654px #ffffff, 1144px 60px #ffffff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #ffffff, 1775px 1663px #ffffff, 332px 1364px #ffffff,
  878px 340px #ffffff, 569px 1832px #ffffff, 1422px 1684px #ffffff, 1946px 1907px #ffffff,
  121px 979px #ffffff, 1044px 1069px #ffffff, 463px 381px #ffffff, 423px 112px #ffffff,
  523px 1179px #ffffff, 779px 654px #ffffff, 1398px 694px #ffffff, 1085px 1464px #ffffff,
  1599px 1869px #ffffff, 801px 1882px #ffffff, 779px 1231px #ffffff, 552px 932px #ffffff,
  1057px 1196px #ffffff, 282px 1280px #ffffff, 496px 1986px #ffffff, 1833px 1120px #ffffff,
  1802px 1293px #ffffff, 6px 1696px #ffffff, 412px 1902px #ffffff, 605px 438px #ffffff,
  24px 1212px #ffffff, 234px 1320px #ffffff, 544px 344px #ffffff, 1107px 170px #ffffff,
  1603px 196px #ffffff, 905px 648px #ffffff, 68px 1458px #ffffff, 649px 1969px #ffffff,
  744px 675px #ffffff, 1127px 478px #ffffff, 714px 1814px #ffffff, 1486px 526px #ffffff,
  270px 1636px #ffffff, 1931px 149px #ffffff, 1807px 378px #ffffff, 8px 390px #ffffff,
  1415px 699px #ffffff, 1473px 1211px #ffffff, 1590px 141px #ffffff, 270px 1705px #ffffff,
  69px 1423px #ffffff, 1108px 1053px #ffffff, 1946px 128px #ffffff, 371px 371px #ffffff,
  1490px 220px #ffffff, 357px 1885px #ffffff, 363px 363px #ffffff, 1896px 1256px #ffffff,
  1979px 1050px #ffffff, 947px 1342px #ffffff, 1754px 242px #ffffff, 514px 974px #ffffff,
  65px 1477px #ffffff, 1840px 547px #ffffff, 950px 695px #ffffff, 459px 1150px #ffffff,
  1124px 1502px #ffffff, 481px 940px #ffffff, 680px 839px #ffffff, 797px 1169px #ffffff,
  1977px 1491px #ffffff, 734px 1724px #ffffff, 210px 298px #ffffff, 816px 628px #ffffff,
  686px 770px #ffffff, 1721px 267px #ffffff, 1663px 511px #ffffff, 1481px 1141px #ffffff,
  582px 248px #ffffff, 1308px 953px #ffffff, 628px 657px #ffffff, 897px 1535px #ffffff,
  270px 931px #ffffff, 791px 467px #ffffff, 1336px 1732px #ffffff, 1013px 1653px #ffffff,
  1911px 956px #ffffff, 587px 816px #ffffff, 83px 456px #ffffff, 930px 1478px #ffffff,
  1587px 1694px #ffffff, 614px 1200px #ffffff, 302px 1782px #ffffff, 1711px 1432px #ffffff,
  443px 904px #ffffff, 1666px 714px #ffffff, 1588px 1167px #ffffff, 273px 1075px #ffffff,
  1679px 461px #ffffff, 721px 664px #ffffff, 1202px 10px #ffffff, 166px 1126px #ffffff,
  331px 1628px #ffffff, 430px 1565px #ffffff, 1585px 509px #ffffff, 640px 38px #ffffff,
  822px 837px #ffffff, 1760px 1664px #ffffff, 1122px 1458px #ffffff, 398px 131px #ffffff,
  689px 285px #ffffff, 460px 652px #ffffff, 1627px 365px #ffffff, 348px 1648px #ffffff,
  819px 1946px #ffffff, 981px 1917px #ffffff, 323px 76px #ffffff, 979px 684px #ffffff,
  887px 536px #ffffff, 1348px 1596px #ffffff, 1055px 666px #ffffff, 1402px 1797px #ffffff,
  1300px 1055px #ffffff, 937px 238px #ffffff, 1474px 1815px #ffffff, 1144px 1710px #ffffff,
  1629px 1087px #ffffff, 911px 919px #ffffff, 771px 819px #ffffff, 403px 720px #ffffff,
  163px 736px #ffffff, 1062px 238px #ffffff, 1774px 818px #ffffff, 1874px 1178px #ffffff,
  1177px 699px #ffffff, 1244px 1244px #ffffff, 1371px 58px #ffffff, 564px 1515px #ffffff,
  1824px 487px #ffffff, 929px 702px #ffffff, 394px 1348px #ffffff, 1161px 641px #ffffff,
  219px 1841px #ffffff, 358px 941px #ffffff, 140px 1759px #ffffff, 1019px 1345px #ffffff,
  274px 436px #ffffff, 1433px 1605px #ffffff, 1798px 1426px #ffffff, 294px 1848px #ffffff,
  1681px 1877px #ffffff, 1344px 1824px #ffffff, 1439px 1632px #ffffff,
  161px 1012px #ffffff, 1308px 588px #ffffff, 1789px 582px #ffffff, 721px 1910px #ffffff,
  318px 218px #ffffff, 607px 319px #ffffff, 495px 535px #ffffff, 1552px 1575px #ffffff,
  1562px 67px #ffffff, 403px 926px #ffffff, 1096px 1800px #ffffff, 1814px 1709px #ffffff,
  1882px 1831px #ffffff, 533px 46px #ffffff, 823px 969px #ffffff, 530px 165px #ffffff,
  1030px 352px #ffffff, 1681px 313px #ffffff, 338px 115px #ffffff, 1607px 211px #ffffff,
  1718px 1184px #ffffff, 1589px 659px #ffffff, 278px 355px #ffffff, 464px 1464px #ffffff,
  1165px 277px #ffffff, 950px 694px #ffffff, 1746px 293px #ffffff, 793px 911px #ffffff,
  528px 773px #ffffff, 1883px 1694px #ffffff, 748px 182px #ffffff, 1924px 1531px #ffffff,
  100px 636px #ffffff, 1473px 1445px #ffffff, 1264px 1244px #ffffff, 850px 1377px #ffffff,
  987px 1976px #ffffff, 933px 1761px #ffffff, 922px 1270px #ffffff, 500px 396px #ffffff,
  1324px 8px #ffffff, 1967px 1814px #ffffff, 1072px 1401px #ffffff, 961px 37px #ffffff,
  156px 81px #ffffff, 1915px 502px #ffffff, 1076px 1846px #ffffff, 152px 1669px #ffffff,
  986px 1529px #ffffff, 1667px 1137px #ffffff;
}

#stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ffffff, 1775px 1663px #ffffff, 332px 1364px #ffffff,
  878px 340px #ffffff, 569px 1832px #ffffff, 1422px 1684px #ffffff, 1946px 1907px #ffffff,
  121px 979px #ffffff, 1044px 1069px #ffffff, 463px 381px #ffffff, 423px 112px #ffffff,
  523px 1179px #ffffff, 779px 654px #ffffff, 1398px 694px #ffffff, 1085px 1464px #ffffff,
  1599px 1869px #ffffff, 801px 1882px #ffffff, 779px 1231px #ffffff, 552px 932px #ffffff,
  1057px 1196px #ffffff, 282px 1280px #ffffff, 496px 1986px #ffffff, 1833px 1120px #ffffff,
  1802px 1293px #ffffff, 6px 1696px #ffffff, 412px 1902px #ffffff, 605px 438px #ffffff,
  24px 1212px #ffffff, 234px 1320px #ffffff, 544px 344px #ffffff, 1107px 170px #ffffff,
  1603px 196px #ffffff, 905px 648px #ffffff, 68px 1458px #ffffff, 649px 1969px #ffffff,
  744px 675px #ffffff, 1127px 478px #ffffff, 714px 1814px #ffffff, 1486px 526px #ffffff,
  270px 1636px #ffffff, 1931px 149px #ffffff, 1807px 378px #ffffff, 8px 390px #ffffff,
  1415px 699px #ffffff, 1473px 1211px #ffffff, 1590px 141px #ffffff, 270px 1705px #ffffff,
  69px 1423px #ffffff, 1108px 1053px #ffffff, 1946px 128px #ffffff, 371px 371px #ffffff,
  1490px 220px #ffffff, 357px 1885px #ffffff, 363px 363px #ffffff, 1896px 1256px #ffffff,
  1979px 1050px #ffffff, 947px 1342px #ffffff, 1754px 242px #ffffff, 514px 974px #ffffff,
  65px 1477px #ffffff, 1840px 547px #ffffff, 950px 695px #ffffff, 459px 1150px #ffffff,
  1124px 1502px #ffffff, 481px 940px #ffffff, 680px 839px #ffffff, 797px 1169px #ffffff,
  1977px 1491px #ffffff, 734px 1724px #ffffff, 210px 298px #ffffff, 816px 628px #ffffff,
  686px 770px #ffffff, 1721px 267px #ffffff, 1663px 511px #ffffff, 1481px 1141px #ffffff,
  582px 248px #ffffff, 1308px 953px #ffffff, 628px 657px #ffffff, 897px 1535px #ffffff,
  270px 931px #ffffff, 791px 467px #ffffff, 1336px 1732px #ffffff, 1013px 1653px #ffffff,
  1911px 956px #ffffff, 587px 816px #ffffff, 83px 456px #ffffff, 930px 1478px #ffffff,
  1587px 1694px #ffffff, 614px 1200px #ffffff, 302px 1782px #ffffff, 1711px 1432px #ffffff,
  443px 904px #ffffff, 1666px 714px #ffffff, 1588px 1167px #ffffff, 273px 1075px #ffffff,
  1679px 461px #ffffff, 721px 664px #ffffff, 1202px 10px #ffffff, 166px 1126px #ffffff,
  331px 1628px #ffffff, 430px 1565px #ffffff, 1585px 509px #ffffff, 640px 38px #ffffff,
  822px 837px #ffffff, 1760px 1664px #ffffff, 1122px 1458px #ffffff, 398px 131px #ffffff,
  689px 285px #ffffff, 460px 652px #ffffff, 1627px 365px #ffffff, 348px 1648px #ffffff,
  819px 1946px #ffffff, 981px 1917px #ffffff, 323px 76px #ffffff, 979px 684px #ffffff,
  887px 536px #ffffff, 1348px 1596px #ffffff, 1055px 666px #ffffff, 1402px 1797px #ffffff,
  1300px 1055px #ffffff, 937px 238px #ffffff, 1474px 1815px #ffffff, 1144px 1710px #ffffff,
  1629px 1087px #ffffff, 911px 919px #ffffff, 771px 819px #ffffff, 403px 720px #ffffff,
  163px 736px #ffffff, 1062px 238px #ffffff, 1774px 818px #ffffff, 1874px 1178px #ffffff,
  1177px 699px #ffffff, 1244px 1244px #ffffff, 1371px 58px #ffffff, 564px 1515px #ffffff,
  1824px 487px #ffffff, 929px 702px #ffffff, 394px 1348px #ffffff, 1161px 641px #ffffff,
  219px 1841px #ffffff, 358px 941px #ffffff, 140px 1759px #ffffff, 1019px 1345px #ffffff,
  274px 436px #ffffff, 1433px 1605px #ffffff, 1798px 1426px #ffffff, 294px 1848px #ffffff,
  1681px 1877px #ffffff, 1344px 1824px #ffffff, 1439px 1632px #ffffff,
  161px 1012px #ffffff, 1308px 588px #ffffff, 1789px 582px #ffffff, 721px 1910px #ffffff,
  318px 218px #ffffff, 607px 319px #ffffff, 495px 535px #ffffff, 1552px 1575px #ffffff,
  1562px 67px #ffffff, 403px 926px #ffffff, 1096px 1800px #ffffff, 1814px 1709px #ffffff,
  1882px 1831px #ffffff, 533px 46px #ffffff, 823px 969px #ffffff, 530px 165px #ffffff,
  1030px 352px #ffffff, 1681px 313px #ffffff, 338px 115px #ffffff, 1607px 211px #ffffff,
  1718px 1184px #ffffff, 1589px 659px #ffffff, 278px 355px #ffffff, 464px 1464px #ffffff,
  1165px 277px #ffffff, 950px 694px #ffffff, 1746px 293px #ffffff, 793px 911px #ffffff,
  528px 773px #ffffff, 1883px 1694px #ffffff, 748px 182px #ffffff, 1924px 1531px #ffffff,
  100px 636px #ffffff, 1473px 1445px #ffffff, 1264px 1244px #ffffff, 850px 1377px #ffffff,
  987px 1976px #ffffff, 933px 1761px #ffffff, 922px 1270px #ffffff, 500px 396px #ffffff,
  1324px 8px #ffffff, 1967px 1814px #ffffff, 1072px 1401px #ffffff, 961px 37px #ffffff,
  156px 81px #ffffff, 1915px 502px #ffffff, 1076px 1846px #ffffff, 152px 1669px #ffffff,
  986px 1529px #ffffff, 1667px 1137px #ffffff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 387px 1878px #ffffff, 760px 1564px #ffffff, 1487px 999px #ffffff,
  948px 1828px #ffffff, 1977px 1001px #ffffff, 1284px 1963px #ffffff, 656px 284px #ffffff,
  1268px 1635px #ffffff, 1820px 598px #ffffff, 642px 1900px #ffffff, 296px 57px #ffffff,
  921px 1620px #ffffff, 476px 1858px #ffffff, 658px 613px #ffffff, 1171px 1363px #ffffff,
  1419px 283px #ffffff, 1037px 731px #ffffff, 503px 663px #ffffff, 1562px 463px #ffffff,
  383px 1197px #ffffff, 1171px 1233px #ffffff, 876px 1768px #ffffff, 856px 1615px #ffffff,
  1375px 1924px #ffffff, 1725px 918px #ffffff, 952px 119px #ffffff, 768px 1212px #ffffff,
  992px 1462px #ffffff, 1929px 717px #ffffff, 1947px 755px #ffffff, 1818px 1123px #ffffff,
  1896px 1672px #ffffff, 460px 198px #ffffff, 256px 271px #ffffff, 752px 544px #ffffff,
  1222px 1859px #ffffff, 1851px 443px #ffffff, 313px 1858px #ffffff, 709px 446px #ffffff,
  1546px 697px #ffffff, 674px 1155px #ffffff, 1112px 130px #ffffff, 355px 1790px #ffffff,
  1496px 974px #ffffff, 1696px 480px #ffffff, 1316px 1265px #ffffff, 1645px 1063px #ffffff,
  1182px 237px #ffffff, 427px 1582px #ffffff, 859px 253px #ffffff, 458px 939px #ffffff,
  1517px 1644px #ffffff, 1943px 60px #ffffff, 212px 1650px #ffffff, 966px 1786px #ffffff,
  473px 712px #ffffff, 130px 76px #ffffff, 1417px 1186px #ffffff, 909px 1580px #ffffff,
  1913px 762px #ffffff, 204px 1143px #ffffff, 1998px 1057px #ffffff, 1468px 1301px #ffffff,
  144px 1676px #ffffff, 21px 1601px #ffffff, 382px 1362px #ffffff, 912px 753px #ffffff,
  1488px 1405px #ffffff, 802px 156px #ffffff, 174px 550px #ffffff, 338px 1366px #ffffff,
  1197px 774px #ffffff, 602px 486px #ffffff, 682px 1877px #ffffff, 348px 1503px #ffffff,
  407px 1139px #ffffff, 950px 1400px #ffffff, 922px 1139px #ffffff, 1697px 293px #ffffff,
  1238px 1281px #ffffff, 1038px 1197px #ffffff, 376px 1889px #ffffff,
  1255px 1680px #ffffff, 1008px 1316px #ffffff, 1538px 1447px #ffffff,
  1186px 874px #ffffff, 1967px 640px #ffffff, 1341px 19px #ffffff, 29px 1732px #ffffff,
  16px 1650px #ffffff, 1021px 1075px #ffffff, 723px 424px #ffffff, 1175px 41px #ffffff,
  494px 1957px #ffffff, 1296px 431px #ffffff, 175px 1507px #ffffff, 831px 121px #ffffff,
  498px 1947px #ffffff, 617px 880px #ffffff, 240px 403px #ffffff;
}

#stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ffffff, 760px 1564px #ffffff, 1487px 999px #ffffff,
  948px 1828px #ffffff, 1977px 1001px #ffffff, 1284px 1963px #ffffff, 656px 284px #ffffff,
  1268px 1635px #ffffff, 1820px 598px #ffffff, 642px 1900px #ffffff, 296px 57px #ffffff,
  921px 1620px #ffffff, 476px 1858px #ffffff, 658px 613px #ffffff, 1171px 1363px #ffffff,
  1419px 283px #ffffff, 1037px 731px #ffffff, 503px 663px #ffffff, 1562px 463px #ffffff,
  383px 1197px #ffffff, 1171px 1233px #ffffff, 876px 1768px #ffffff, 856px 1615px #ffffff,
  1375px 1924px #ffffff, 1725px 918px #ffffff, 952px 119px #ffffff, 768px 1212px #ffffff,
  992px 1462px #ffffff, 1929px 717px #ffffff, 1947px 755px #ffffff, 1818px 1123px #ffffff,
  1896px 1672px #ffffff, 460px 198px #ffffff, 256px 271px #ffffff, 752px 544px #ffffff,
  1222px 1859px #ffffff, 1851px 443px #ffffff, 313px 1858px #ffffff, 709px 446px #ffffff,
  1546px 697px #ffffff, 674px 1155px #ffffff, 1112px 130px #ffffff, 355px 1790px #ffffff,
  1496px 974px #ffffff, 1696px 480px #ffffff, 1316px 1265px #ffffff, 1645px 1063px #ffffff,
  1182px 237px #ffffff, 427px 1582px #ffffff, 859px 253px #ffffff, 458px 939px #ffffff,
  1517px 1644px #ffffff, 1943px 60px #ffffff, 212px 1650px #ffffff, 966px 1786px #ffffff,
  473px 712px #ffffff, 130px 76px #ffffff, 1417px 1186px #ffffff, 909px 1580px #ffffff,
  1913px 762px #ffffff, 204px 1143px #ffffff, 1998px 1057px #ffffff, 1468px 1301px #ffffff,
  144px 1676px #ffffff, 21px 1601px #ffffff, 382px 1362px #ffffff, 912px 753px #ffffff,
  1488px 1405px #ffffff, 802px 156px #ffffff, 174px 550px #ffffff, 338px 1366px #ffffff,
  1197px 774px #ffffff, 602px 486px #ffffff, 682px 1877px #ffffff, 348px 1503px #ffffff,
  407px 1139px #ffffff, 950px 1400px #ffffff, 922px 1139px #ffffff, 1697px 293px #ffffff,
  1238px 1281px #ffffff, 1038px 1197px #ffffff, 376px 1889px #ffffff,
  1255px 1680px #ffffff, 1008px 1316px #ffffff, 1538px 1447px #ffffff,
  1186px 874px #ffffff, 1967px 640px #ffffff, 1341px 19px #ffffff, 29px 1732px #ffffff,
  16px 1650px #ffffff, 1021px 1075px #ffffff, 723px 424px #ffffff, 1175px 41px #ffffff,
  494px 1957px #ffffff, 1296px 431px #ffffff, 175px 1507px #ffffff, 831px 121px #ffffff,
  498px 1947px #ffffff, 617px 880px #ffffff, 240px 403px #ffffff;
}


@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}

